.title{
    width:70%;
    display:inline-block;
    font-weight: bold;
    font-size:1.1em;
}
.showNotes{
    width:30%;
    display:inline-block;
}

.noteTitle{
    font-size:1.5em;
    font-weight:bold;
    width:70%;
    display:inline-block;
    margin:0px;
}

#addComment{
}

h1{
    text-align: center;
}

#grabNew{
    margin:5px auto;
    text-align: center;
    display:block;
    width:50%;
}

.trash{
    font-size:1.5em;
    float:right;
    color:white;

}

body{
    background-image: url('./images/code.jpg');
    background-size:100%;
    background-attachment: fixed;
}

.container{
    background:white;
    opacity:0.93;
    border:1px solid white;
    padding:10px;
    border-radius: 10px !important;
}